@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$blue: #0e9ed9;
$gray: gray;

*{
  font-family: 'Raleway', sans-serif;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


// .overlap.Blue {
//   background: lightblue;
// }

// .overlap.Red {
//   background: salmon;
// }


// .overlap.Spy {
//   background: black;
//   color: white;
// }


// .overlap.Pedestrian {
//   background: yellow;
// }

div.overlap {
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: block;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right:0;
  border-radius: 5px;

  p{
    background: rgba(255,255,255,0.4);
    text-transform: uppercase;
    flex: 0 0 80%;
  }

  &.state-1, &.Red {
    /*RED*/
    background-image: url('/kits/pets/red.jpg');
  }

  &.state-2, &.Blue {
    /*BLUE*/
    background-image: url('/kits/pets/blue.jpg');
  }

  &.state-3, &.Spy {
    /*SPY*/
    background-image: url('/kits/pets/spy.jpg');
  }

  // &.state-4 {
  //   /*PEDESTRIAN*/
  //   background-image: url('/kits/petspedestrian.jpg');
  // }
}
