<div class="status">
  <div *ngIf="!game.isFinished">Next team is {{game.nextTeam}}</div>
  <div *ngIf="game.isFinished">The winner is the team {{game.nextTeam}}</div>
  <div>Sequence: {{ game.sequenceNumber }}</div>
  <div>Joined users: <span *ngFor="let user of game.users">{{ user.name }}</span></div>
</div>
<!-- <codenames-instruction [instruction]="game.instruction"></codenames-instruction> -->
<div class="cards">
  <codenames-card *ngFor="let card of game.cards; let i = index; trackBy: customTB" [className]="card.state" [data]="card" (click)="checkCard(card.id)"></codenames-card>
</div>
