.cards {
    display: grid;
    grid-template-columns: repeat(5, 20% [col-start]);
    grid-template-rows: auto;
    padding: 1rem;
    margin: 0px auto;
    height: 500px;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.status div {
    flex: 1;
}

codenames-card {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    align-items: center;
    justify-content: center;

    background-color: wheat;
    border: 1px solid darkgoldenrod;
    border-radius: 4px;
    margin: 0.5rem;
}
