<div  *ngIf="!loggedIn">
  <button (click)="signInGoogle()">Log In with Google</button>
</div>
<div *ngIf="loggedIn">
  <button (click)="signOut()">
    Sign out
    <img [src]="currentUser.photoUrl" [title]="currentUser.name" />
  </button>
</div>
