<ul>
    <li *ngFor="let game of service.gameList"><a [routerLink]="['/','codenames', game.id]">
        {{game.id}} - <span *ngIf="!game.isFinished">Next is {{game.nextTeam}}</span> <span *ngIf="game.isFinished">The winner is {{game.nextTeam}}</span></a>
    </li>
    <li><a [routerLink]="['/','codenames', newGameId]">New game</a></li>
</ul>
